.class{
  
  padding: 0;
  margin: 0;
  padding-top: 1px
  
}
.background{ 
    background-color: aqua;
    height: 100vh;
    padding-top: 1px;
}
.title { 
    text-align: center;
    color: white;
    font-size: 40px;
    margin: top 1px;;

}
.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: lem;
    margin-bottom: lem;

}